* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    /* background: linear-gradient(454deg,rgb(89, 195, 247),rgb(160, 210, 235)); */
    background-color: maroon;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transition: .5s;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: black; */
    margin-top: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 90vw;
    height: 80vh;
}


.container-one {
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left:1vw;
    margin-right:1vw;
    margin-top :1vh;
    margin-bottom: 1vh; 
    /* background-color: blue; */
    height:auto;
    width: 40vw;
    /* height: 30px;
    width: 30px; */
}

.container-one p {
    text-align:center ;
    font-size: medium;
    width: 40vw;
    height: 35vh;

}

.service-one {
    background-color: white;
    background-image: url(../img/charityFightNight.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border:5px solid goldenrod;
    border-radius: 20px;
    position: relative;
    transition: .5s;
    width: 40vw;
    height: 35vh;
}

.service-two {
    background-color: white;
    background-image: url(../img/YMSL.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border:5px solid goldenrod;
    border-radius: 20px;
    position: relative;
    transition: .5s;
    width: 40vw;
    height: 35vh;
    /* padding:20px; */
}

.service-one-content {
    /* transition: .5s;
    background-color: white;
    height: 36vh;
    position: relative;
    width: 41vw;
    border:5px solid goldenrod;
    border-radius: 20px;
    opacity: 0;
    padding: 15px; */

    display: flex;
    align-content: center;
    justify-content: center;
    transition: .5s;
    background-color: white;
    height: 36vh;
    position: relative;
    width: 41vw;
    border:5px solid goldenrod;
    border-radius: 20px;
    opacity: 0;
    padding:10px;
    

}

.service-two-content {
    /* transition: .5s;
    background-color: white;
    height: 36vh;
    position: relative;
    width: 41vw;
    border:5px solid goldenrod;
    border-radius: 20px;
    opacity: 0;
    padding: 15px; */

    display: flex;
    align-content: center;
    justify-content: center;
    transition: .5s;
    background-color: white;
    height: 36vh;
    position: relative;
    width: 41vw;
    border:5px solid goldenrod;
    border-radius: 20px;
    opacity: 0;
    padding:10px;

}
.service-one-content:hover {
    transition: .5s;
    scale:1.05;
    opacity:100;


}

.service-two-content:hover {
    transition: .5s;
    scale:1.05;
    opacity: 100;


}



.container-two {
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: yellow; */
    /* margin-left:1vw; */
    margin-right:1vw;
    margin-top :1vh;
    margin-bottom: 1vh; 
    height:auto;
    width: 40vw;
    border-radius: 20px;

}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top:5vh;
    background-color: white;
    width: 40vw;
    height: auto;
    border:5px solid goldenrod;
    border-radius: 20px;
    padding:10px;
    font-size: 1vw;

    

}

.paragraph {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1vw;

    background-color: white;
    width: 40vw;
    height: auto;
    border:5px solid goldenrod;

    margin-bottom: 5vh;
    border-radius: 20px;
    padding:10px;


}

.container-one p {
    text-align: center;
    font-size: 1vw;
    width: 40vw;
    /* height: 35vh; */
    height: auto;
    

}